/**
 * Posts and Pages
 */
.post {
  margin-bottom: 1.66667em;
}

.page-header,
.post-header {
  margin-bottom: 2.5em;
}

.page-title,
.post-title {
  margin-bottom: 0;
}

.page-subtitle,
.post-subtitle {
  color: _palette(charcoal-light-40);
  margin-top: 0.5em;
}

.post-subtitle {
  font-size: 1.33333em;
  line-height: 1.5;
}

.post-meta {
  color: _palette(charcoal-light-40);
  font-size: 0.88889em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-full {
  .post-meta {
    padding-bottom: 1.875em;
    padding-top: 0.9375em;
  }
}

.blogpost {
  margin: 2em 0 0 0;
  display: grid;
  justify-content: space-between;
  grid-gap: 60px;
  grid-template-columns: 4fr 1.5fr;
}

@media (max-width: 769px) {
  .blogpost {
      padding: 0 1em;
      grid-template-columns: 1fr;
  }
}

.blogpost aside {
  margin: 2em 0 0 0;
}
.Newsletter {
  margin: 1em 0 0 0;
}

.Newsletter input {
  background-image: none;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  display: inline-block;
  font-feature-settings: "tnum";
  font-size: 14px;
  height: 32px;
  color: white;
  line-height: 32px;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 4px 12px;
  width: 100%;
  box-sizing: border-box;
}
.Newsletter h4 {
  font-size: 16px;
}
.Newsletter p {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 10px;
}
.Newsletter form {
  position: relative;
  width: 100%;
}
.Newsletter .btn {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
  width: 100%;
  display: block;
}
.Newsletter .btn:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}
.Newsletter .btn:active {
  position: relative;
  top: 1px;
}
.Newsletter label {
  font-size: 12px;
}

.post-image {
  border: 0;
  display: block;
  margin-bottom: 1.66667em;

  img {
    width: 100%;
  }
}

/* Post feed */
.post-thumbnail {
  border: 0;
  display: block;
  margin-bottom: 1.33333em;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 60%;
  }

  img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.post-feed {
  .post-header {
    margin-bottom: 0.83333em;
  }

  .post-title {
    font-size: 1.33333em;

    a {
      border: 0;
      color: inherit;
  
      &:hover,
      &:focus {
        color: _palette(charcoal-light-15);
      }
    }
  }

  .post-meta {
    margin-top: 0.5em;
  }
}

@media only screen and (min-width: 541px) {
  .post-feed {
    &.grid-col-2 {
      .post-thumbnail {
        margin-bottom: 0.83333em;
      }

      .post-meta {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 761px) {
  .post-feed {
    &.grid-col-3 {
      .post-thumbnail {
        margin-bottom: 0.83333em;
      }

      .post-meta {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-header,
  .post-header {
    margin-bottom: 2em;
  }

  .post-subtitle {
    font-size: 1.22222em;
  }
}