{{ define "content" }}

<div class="inner outer">

  <header class="page-header inner-sm{{ if .Params.hide_title }} screen-reader-text{{ end }}">
    <h1 class="page-title line-top">{{ .Params.title }}: Error 418</h1>
    {{ if .Params.subtitle }}
    <div class="page-subtitle">
      {{ $.Params.subtitle | safeHTML }}
      <div class="page-podcasts">
        <a href="https://open.spotify.com/show/0FmtewBzfG64SOilzlnDuK" target="_blank">
          <img src="https://arepa.s3.amazonaws.com/spotify-podcast-badge-blk-grn-330x80.png" width="160" alt="Spotify">
        </a>
        <a href="https://podcasts.apple.com/us/podcast/error-418/id1559436207?itsct=podcast_box&amp;itscg=30200"
          target="_blank">
          <img
            src="https://tools.applemediaservices.com/api/badges/listen-on-apple-podcasts/standard-white/es-es?size=250x83&amp;releaseDate=1616308440&h=a71a3932e61949aa26779a0ee71765bf"
            width="160" alt="Apple Podcasts">
        </a>
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy81MmRlMGI1MC9wb2RjYXN0L3Jzcw"
          target="_blank">
          <img
            src="https://arepa.s3.amazonaws.com/ES-419_Google_Podcasts_Badge_2x.png"
            width="160" alt="Apple Podcasts">
        </a>
      </div>
    </div>
    {{ end }}
  </header><!-- .page-header -->

  <div class="post-feed grid{{ if eq .Params.col_number " two" }} grid-col-2{{ end }}{{ if eq .Params.col_number "three" }} grid-col-3{{ end }}">
    {{ $display_posts := ((.Site.GetPage "section" "/podcast").Pages).ByDate.Reverse }}
    {{ range $podcast := $display_posts }}
    <article class="post grid-item">
      <div class="post-inside">
        <header class="post-header">
          <h2 class="post-title"><a href="{{ $podcast.URL }}" rel="bookmark">{{ $podcast.Params.title }}</a></h2>
          <div class="post-meta">
            <time class="published" datetime="{{ $podcast.Date | dateFormat " 2006-01-02 15:04" }}">{{ $podcast.Date | dateFormat "January 02, 2006" }}</time>
          </div>
        </header>
        {{ if $podcast.Params.excerpt }}
        <p class="post-content">
          {{ $podcast.Params.excerpt }}
        </p>
        {{ end }}
      </div>
    </article><!-- .post -->
    {{ end }}
  </div><!-- .post-feed -->

  <!-- Pagination TBD -->
  <!--
  <nav class="pagination inner-sm">
    <a class="newer-posts button" href="#"><span class="icon-angle-left" aria-hidden="true"></span><span class="screen-reader-text">Prev</span></a>
    <span class="page-number">Showing page X of Y</span>
    <a class="older-posts button" href="#"><span class="screen-reader-text">Next</span><span class="icon-angle-right" aria-hidden="true"></span></a>
  </nav>
  -->

</div><!-- .inner-->

{{ end }}