{{ define "content" }}

<div class="inner outer">

  <article class="post post-full">
    <header class="post-header inner-sm">
      <h1 class="post-title line-top">{{ .Params.title }}</h1>
      {{ if .Params.subtitle }}
      <div class="post-subtitle">
        {{ $.Params.subtitle | safeHTML }}
      </div>
      {{ end }}
    </header>
    {{ if .Params.image }}
    <div class="post-image">
      <img src="{{ $.Params.image | relURL }}" alt="{{ $.Params.title }}" />
    </div>
    {{ end }}
    <div class="post-content inner-sm">
      {{ .Content }}
    </div>
    <footer class="post-meta inner-sm">
      <time class="published" datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">{{ .Date | dateFormat "January 02, 2006" }}</time>
    </footer>
  </article><!-- .post -->

  <!-- Next/previous post navigation TBD -->
  <!--
  <nav class="read-next inner-sm">
    <h2 class="read-next-title line-top">Read Next</h2>
    <div class="post-feed grid grid-col-2">
      <article class="post grid-item">
        <div class="post-inside">
          <a class="post-thumbnail" href="#"><img src="#" alt="" /></a>
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
            <div class="post-meta">
              <time class="published" datetime="">Previous post date</time>
            </div>
          </header>
        </div>
      </article>
      <article class="post grid-item">
        <div class="post-inside">
          <a class="post-thumbnail" href="#"><img src="#" alt="" /></a>
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
            <div class="post-meta">
              <time class="published" datetime="">Next post date</time>
            </div>
          </header>
        </div>
      </article>
    </div>
  </nav>
  -->

</div><!-- .inner -->

{{ end }}
