{{ $section := .section }}
<section id="{{ $section.section_id }}" class="block-hero outer">
  <header class="Header">
    <div class="Header-content">
      <div class="Header-items">
        <div class="Header-item">
          <div class="Header-title">
            <a href="#">
              <h2>
                <span>Live Streams</span>
                @gndx
              </h2>
            </a>
            <p>❤️👨‍💻🔥</p>
          </div>
        </div>
        <div class="Header-item">
          <figure>
            <img
              src="https://arepa.s3.amazonaws.com/platzi-logo.webp"
              alt="Platzi" />
          </figure>
          <div class="Header-title">
            <a href="https://platzi.com/teachers/gndx/" target="_blank" rel="noopener noreferrer">
              <h2>
                <span>Platzi</span>
                Oscar Barajas
              </h2>
            </a>
            <p>🗓️ Miércoles 8PM</p>
          </div>
        </div>
        <div class="Header-item">
          <figure>
            <img src="https://arepa.s3.amazonaws.com/youtube.png" alt="Youtube" />
          </figure>
          <div class="Header-title">
            <a
              href="https://www.youtube.com/channel/UCw05fUBPwmpu-ehXFMqfdMw?sub_confirmation=1" target="_blank" rel="noopener noreferrer">
              <h2>
                <span>Youtube</span>
                Oscar Barajas
              </h2>
            </a>
            <p>🗓️ Viernes 10PM</p>
          </div>
        </div>
        <div class="Header-item">
          <figure>
            <img
              src="https://arepa.s3.amazonaws.com/app-icons-twitch.png"
              alt="Twitch" />
          </figure>
          <div class="Header-title">
            <a href="https://twitch.tv/gndxdev" target="_blank" rel="noopener noreferrer">
              <h2>
                <span>Twitch</span>
                gndxdev
              </h2>
            </a>
            <p>🗓️ Domingos 8PM</p>
          </div>
        </div>
      </div>
    </div>
  </header>
</section><!-- .block -->
