{{ $section := .section }}
<section id="{{ $section.section_id }}" class="block block-text outer">
  <div class="inner">
    {{ if or $section.title $section.subtitle }}
    <div class="block-header inner-sm">
      {{ if $section.title }}
      <h2 class="block-title line-top">{{ $section.title }}</h2>
      {{ end }}
      {{ if $section.subtitle }}
      <p class="block-subtitle">{{ $section.subtitle | safeHTML }}</p>
      {{ end }}
    </div>
    {{ end }}
    {{ if $section.image }}
    <div class="block-image">
      <img src="{{ $section.image | relURL }}" alt="{{ $section.title }}" />
    </div>
    {{ end }}
    {{ if $section.content }}
    <div class="block-content inner-sm">
      {{ partial "markdownify-block" $section.content }}
    </div>
    {{ end }}
    {{ if $section.actions }}
    <div class="block-buttons inner-sm">
      {{ $include_dict := dict "actions" $section.actions }}
      {{ partial "cta_buttons.html" $include_dict }}
    </div>
    {{ end }}
  </div><!-- .inner -->
</section><!-- .block -->
